--- 
layout: default 
title: Contact US
--- 
        
    <!-- Slider Start -->
    {% include subpage-header.html %}

        <!-- contact form start -->
        <section id="contact-form">
          <div class="container">

            <!-- {% include contact-form.html %} -->

            <div id="contact-box" class="row">
              <div class="col-md-6 col-sm-12">
                <div class="block">
                  <h2>Send mail to us or Contact via <a href="http://www.google.com"> Facebook</a> </h2>
                  {% include contact-info.html %}

                  {% include social-icons.html %}

                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="block">

                  {% include google-map.html %}

                </div>
              </div>
            </div>
          </div>
        </section>


    <!-- Call to action Start -->
    {% include call-to-acion.html %}
 