<section id="service">
    <div class="container">

      <div class="row">
        <div class="section-title">
          <br> 
          <h3>Please contact us for any question <br>  
            <a href="mailto:preranaaudiolibrary@gmail.com?cc=rajibxmaitra@gmail.com&bcc=rajibxmaitra@gmail.com&subject=Your%20subject&body=Body-goes-here">Email preranaaudiolibrary@gmail.com</a>
          </h3> 
          <br> 
          <h4> 500 pages of a book costs INR 4000. Partial cost is also well accepted for a book.  
          </h4> 
        </div>
      </div>
    </div>

    <div class="container1">
      <script src="js/script.js" type="text/javascript" charset="utf-8"></script>       
    </div>

  </section>