<section id="service">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>Professional and Career development </h2>
          <!--<p> "Our team has spent countless nights to create those audio books” <br>
               </p>
               <p><br></p>
                <h3> </h3> -->      
        </div>
      </div>
      <!-- Bookrow 1 start -->
      <div class="row ">
        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
            <p><strong>WBCS General Studies Manual </strong></p>
            <p><strong> Nitin Singhania <br>
              Competitive Exam, Bengali<br>
               46 Hrs, 728 Pages<br>
               </strong></p>
          </div>
        </div>
 
        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
            <p><strong>Rail General Knowledge </strong></p>
            <p><strong> Unknown <br>
              Competitive Exam, Bengali<br>
               ? Hrs, ? Pages<br>
               </strong></p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
            <p><strong>Teaching Aptitude </strong></p>
            <p><strong> General Paper, NET <br>
              Competitive Exam, Bengali<br>
               ? Hrs, ? Pages<br>
               </strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
            <p><strong>Railway Recruitment </strong></p>
            <p><strong> Gn D Kamal Hosen <br>
              Competitive Exam, Bengali<br>
               ? Hrs, ? Pages<br>
               </strong></p>
          </div>
        </div>
       
      </div>
      <!-- Bookrow 1 end -->


      <div class="row">
        <div class="section-title">
          <h2>Graduation Courses </h2>  
        </div>
      </div>

      <!-- Bookrow 2 start -->
      <div class="row ">

        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
            <p><strong>B. Ed Scanner </strong></p>
            <p><strong>Asim Kumar & Debabrata Sarkar <br>
              Graduation, Bengali<br>
              42 Hrs, 550 Pages<br>
               </strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
            <p><strong>Bangla Bhasha Porikroma </strong></p>
            <p><strong>Paresh Chandra Majumder<br>
              Graduation, Bengali<br>
              12.5 Hrs, 256 Pages<br>
               </strong></p>
          </div>
        </div> 
        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
            <p><strong>Political Science </strong></p>
            <p><strong>Anadi Kumar Mahapatra<br>
               Graduation, Bengali<br>
               60 Hrs, 953 Pages<br>
               </strong></p>
          </div>
        </div>

        
      </div>

      <!-- Bookrow 2 end -->

      <div class="row">
        <div class="section-title">
          <h2> Higher Secondary, Grade XI and XII </h2>
          <!--<p> "Our team has spent countless nights to create those audio books” <br>
               </p>
               <p><br></p>
                <h3> </h3> -->      
        </div>
      </div>

      <!-- Bookrow 3 start -->
      <div class="row ">

        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
            <p><strong>Bangla Bhasha O <br>Shilpo Sanskritir Itihaas </strong></p>
            <p><strong>
               Grade XII, Bengali<br>
               12.5 Hrs, 192 Pages<br>
               </strong></p>
          </div>
        </div> 

        <div class="col-sm-3">
          <div class="thumbnail">
            <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
            <p><strong>WBHA ARTS Test Paper 2021 </strong></p>
            <p><strong>Parul Prakashani & Gouridas Saha<br>
              Grade XII, Bengali<br>
              23 Hrs, 544 Pages<br>
               </strong></p>
          </div>
        </div>
        

      
      </div>
      <!-- Bookrow 3 end -->

     
      <div class="row">
        <div class="section-title">
          <h2> Secondary, Grade IX and X   </h2>
          <!--<p> "Our team has spent countless nights to create those audio books” <br>
               </p>
               <p><br></p>
                <h3> </h3> -->      
        </div>
      <!-- Bookrow 4 start -->
        <div class="row ">

          <div class="col-sm-3">
            <div class="thumbnail">
              <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
              <p><strong>Life Science </strong></p>
              <p><strong>Unknown<br>
                Grade IX, Bengali<br>
                5 Hrs, 145 Pages<br>
                 </strong></p>
            </div>
          </div>

         
          <div class="col-sm-3">
            <div class="thumbnail">
              <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
              <p><strong>WBBSE & CBSE Chemistry </strong></p>
              <p><strong>Asim Kumar & Debabrata Sarkar <br>
                Grade X, Bengali<br>
                6.5 Hrs<br>
                 </strong></p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="thumbnail">
              <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
              <p><strong>WBTA Test Paper 2021 </strong></p>
              <p><strong>Parul Prakashani <br>
                Grade X, Bengali<br>
                15 Hrs, 577 Pages<br>
                 </strong></p>
            </div>
          </div> 
          

          <div class="col-sm-3">
            <div class="thumbnail">
              <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
              <p><strong>Ray Martin Life Science </strong></p>
              <p><strong>Unknown <br>
                Grade X, Bengali<br>
                11 Hrs, 445 Pages<br>
                 </strong></p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="thumbnail">
              <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
              <p><strong>History </strong></p>
              <p><strong>G K Pahari <br>
                Grade X, Bengali<br>
                3 Hrs, 126 Pages<br>
                 </strong></p>
            </div>
          </div> 
          <div class="col-sm-3">
            <div class="thumbnail">
              <img src="img/books2.jpg" alt="Subjects" width="50" height="50">
              <p><strong>History </strong></p>
              <p><strong>Samar Kr Mallik & Prasanta Kundu <br>
                Grade IX, Bengali<br>
                3 Hrs, 141 Pages<br>
                 </strong></p>
            </div>
          </div> 



        </div>
      <!-- Bookrow 4 end -->

      



        

      </div>
    </div>
  </section>