<section id="service">
    <div class="container">

      <div class="row">
        <div class="section-title">
          <br> 
          <h3>To know more, please email us with book details <br>  
            <a href="mailto:preranaaudiolibrary@gmail.com?cc=rajibxmaitra@gmail.com&bcc=rajibxmaitra@gmail.com&subject=Your%20subject&body=Body-goes-here">Email preranaaudiolibrary@gmail.com</a>
          </h3>  
          <br> 
          <h4> <a href="adoptabook.html" > Upcoming audio books  
          </h4>
        </div>
      </div>


      <div class="row">
        <div class="section-title">
          <h2>Professional and Career development </h2>
          <!--<p> "Our team has spent countless nights to create those audio books” <br>
               </p>
               <p><br></p>
                <h3> </h3> -->      
        </div>
      </div>
      <!-- Professional Book START -->
      <!-- Bookrow 1 start -->
      <div class="row">
        <div class="col-sm-3">
          <div class="bookcard">
            <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
            <h4 class="card-title">CWBCS General Studies Manual<br></h4>
            <p class="bookcarddetail"><strong> Author: Nitin Singhania <br><br>
              Level: Competitive Exam<br>
               Language: Bengali<br>
               Audio duration: 46 Hrs <br>
               Original Book: 728 Pages<br>
               </strong></p>
          </div>
        </div>
 
        <div class="col-sm-3">
          <div class="bookcard">
            <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
            <h4 class="card-title">Rail General Knowledge</h4>
            <p class="bookcarddetail"><strong> Author: Debabrata Sarkar <br><br>
              Level: Competitive Exam<br>
               Language: Bengali<br>
               Audio duration: 6 Hrs <br>
               Original Book: 128 Pages<br>
               </strong></p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="bookcard">
            <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
            <h4 class="card-title">Railway Recruitment</h4>
            <p class="bookcarddetail"><strong> Author: Gen D Kamal Hosen <br><br>
              Level: Competitive Exam<br>
               Language: English<br>
               Audio duration: 12 Hrs <br>
               Original Book: 250 Pages<br>
               </strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="bookcard">
            <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
            <h4 class="card-title">Railway Clarical Exam</h4>
            <p class="bookcarddetail"><strong> Author: WBSC <br><br>
              Level: Competitive Exam<br>
               Language: English<br>
               Audio duration: 3.5 Hrs <br>
               Original Book: 75 Pages<br>
               </strong></p>
          </div>
        </div>
      </div>

      <!-- Bookrow 1 end -->
      <br><br>
      <!-- Bookrow 2 Start -->
      <div class="row">
        <div class="col-sm-3">
          <div class="bookcard">
            <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
            <h4 class="card-title">Teaching Aptitude <br> General Paper, NET</h4>
            <p class="bookcarddetail"><strong> Author: WBSC <br><br>
              Level: Competitive Exam<br>
               Language: English<br>
               Audio duration: 8.6 Hrs <br>
               Original Book: 100 Pages<br>
               </strong></p>
          </div>

        <!-- Next Prof book here -->  
        </div>


      </div>
      <!-- Bookrow 2 end -->
      <!-- Professional Book END -->



      <!-- Graduation Book Starts -->
      <div class="row">
        <div class="section-title">
          <br> 
          <h2>Graduation Courses </h2>  
        </div>
      </div>

      <!-- Grad Bookrow 1 start -->
      <div class="row ">

        <div class="col-sm-3">
          <div class="bookcard">
            <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
            <h4 class="card-title">B. Ed Scanner</h4>
            <p class="bookcarddetail"><strong> Author: Asim Kumar  &nbsp; & <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Debabrata Sarkar <br>
               Level: Graduation<br>
               Language: Bengali<br>
               Audio duration: 42 Hrs <br>
               Original Book: 550 Pages<br>
               </strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="bookcard">
            <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
            <h4 class="card-title">Bangla Bhasha Porikroma</h4>
            <p class="bookcarddetail"><strong> Author: Paresh Ch Majumder<br><br>
              Level: Graduation<br>
              Language: Bengali<br>
              Audio duration: 12.5 Hrs <br>
              Original Book: 256 Pages<br>
               </strong></p>
          </div>
        </div> 
        <div class="col-sm-3">
          <div class="bookcard">
            <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
            <h4 class="card-title">Political Science</h4>
            <p class="bookcarddetail"><strong> Author: Anadi Kumar Mahapatra<br><br>
              Level: Graduation<br>
              Language: Bengali<br>
              Audio duration: 60 Hrs <br>
              Original Book: 953 Pages<br>
               </strong></p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="bookcard">
            <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
            <h4 class="card-title">Bengali Teacher</h4>
            <p class="bookcarddetail"><strong> Author: Bhutan Chandra Ghosh<br><br>
              Level: Graduation<br>
              Language: Bengali<br>
              Audio duration: 25 Hrs <br>
              Original Book: 460 Pages<br>
               </strong></p>
          </div>
        </div>
        
      </div>
      <!-- Grad Bookrow 1 END -->
      <br><br>
      <!-- Grad Bookrow 2 start -->



      <!-- Grad Bookrow 2 End -->

      <!-- Graduation Book END -->



      <!-- Bookrow 2 end -->

      <div class="row">
        <div class="section-title">
          <br> 
          <h2> Higher Secondary, Grade XI and XII </h2>
          <!--<p> "Our team has spent countless nights to create those audio books” <br>
               </p>
               <p><br></p>
                <h3> </h3> -->      
        </div>
      </div>

      <!-- Bookrow 3 start -->
      <div class="row ">

        <div class="col-sm-3">
          <div class="bookcard">
            <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
            <h4 class="card-title">Bangla Bhasha O <br>Shilpo Sanskriti Itihaas</h4>
            <p class="bookcarddetail"><strong> Author: WBCHSE <br><br>
              Level: Higher Secondary, XI<br>
              Language: Bengali<br>
              Audio duration: 12.5 Hrs <br>
              Original Book: 192 Pages<br>
               </strong></p>
          </div>
        </div> 

        <div class="col-sm-3">
          <div class="bookcard">
            <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
            <h4 class="card-title">BWBHA ARTS Test Paper 2021 &nbsp;&nbsp;&nbsp;&nbsp;<br></h4>
            <p class="bookcarddetail"><strong> Author: Parul Prakashani &nbsp;&nbsp;&nbsp;&nbsp;& <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gouridas Saha<br>
              Level: Higher Secondary, XII<br>
              Language: Bengali<br>
              Audio duration: 23 Hrs <br>
              Original Book: 544 Pages<br>
               </strong></p>
          </div>
        </div>
      
        <div class="col-sm-3">
          <div class="bookcard">
            <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
            <h4 class="card-title">Itihaas Sahayika &nbsp;&nbsp;&nbsp;&nbsp;<br><br></h4>
            <p class="bookcarddetail"><strong> Author: Subhas Biswas &nbsp;&nbsp;&nbsp;&nbsp;& <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prashanta Dutta<br>
              Level: Higher Secondary, XII<br>
              Language: Bengali<br>
              Audio duration: 12.5 Hrs <br>
              Original Book: 250 Pages<br>
               </strong></p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="bookcard">
            <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
            <h4 class="card-title">Bengali Text &nbsp;&nbsp;&nbsp;&nbsp;<br><br></h4>
            <p class="bookcarddetail"><strong> Author: WB Govt.<br> <br>  
              Level: Higher Secondary, XI<br>
              Language: Bengali<br>
              Audio duration: 6 Hrs <br>
              Original Book: 127 Pages<br>
               </strong></p>
          </div>
        </div>
      
      </div>
      <!-- Bookrow 3 end -->

     
      <div class="row">
        <div class="section-title">
          <br> 
          <h2> Secondary, Grade IX and X   </h2>
          <!--<p> "Our team has spent countless nights to create those audio books” <br>
               </p>
               <p><br></p>
                <h3> </h3> -->      
        </div>

      <!-- Class 9 10 Bookrow 1 end start -->
        <div class="row ">      
          <div class="col-sm-3">
            <div class="bookcard">
              <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
              <h4 class="card-title">WBBSE & CBSE Chemistry</h4>
              <p class="bookcarddetail"><strong> Author: Asim Kumar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Debabrata Sarkar <br>
                Level: Secondary, X<br>
                Language: Bengali<br>
                Audio duration: 6.5 Hrs <br>
                Original Book: 250 Pages<br>
                 </strong></p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="bookcard">
              <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
              <h4 class="card-title">WBTA Test Paper 2021</h4>
              <p class="bookcarddetail"><strong> Author: Parul Prakashani <br><br>
                Level: Secondary, X<br>
                Language: Bengali<br>
                Audio duration: 15 Hrs <br>
                Original Book: 577 Pages<br>

                 </strong></p>
            </div>
          </div> 
          
          <div class="col-sm-3">
            <div class="bookcard">
              <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
              <h4 class="card-title">WBHA Test Paper </h4>
              <p class="bookcarddetail"><strong> Author: Wb Govt. <br><br>
                Level: Secondary, X<br>
                Language: Bengali<br>
                Audio duration: 19.6 Hrs <br>
                Original Book: 400 Pages<br>
                 </strong></p>
            </div>
          </div> 
          <div class="col-sm-3">
            <div class="bookcard">
              <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
              <h4 class="card-title">Geography for Class 10</h4>
              <p class="bookcarddetail"><strong> Author: Judhisthir Hazra <br><br>
                Level: Secondary, X<br>
                Language: Bengali<br>
                Audio duration: 8 Hrs <br>
                Original Book: 149 Pages<br>
                 </strong></p>
            </div>
          </div> 

        </div>

        <!-- Class 9 10 Bookrow 1 end -->
        <br><br>
        <!-- Class 9 10 Bookrow 2 start -->

        <div class="row">
          <div class="col-sm-3">
            <div class="bookcard">
              <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
              <h4 class="card-title">Life Science for Class 10</h4>
              <p class="bookcarddetail"><strong> Author: Ray Martin <br><br>
                Level: Secondary, X<br>
                Language: Bengali<br>
                Audio duration: 11 Hrs <br>
                Original Book: 455 Pages<br>
                 </strong></p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="bookcard">
              <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
              <h4 class="card-title">History for Class 10</h4>
              <p class="bookcarddetail"><strong> Author: G K Pahari <br><br>
                Level: Secondary, X<br>
                Language: Bengali<br>
                Audio duration: 7 Hrs <br>
                Original Book: 126 Pages<br>
                 </strong></p>
            </div>
          </div> 
          <div class="col-sm-3">
            <div class="bookcard">
              <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
              <h4 class="card-title">History for Class 9</h4>
              <p class="bookcarddetail"><strong> Author: Samar Kr Mallik &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prasanta Kundu <br>
                Level: Secondary, IX<br>
                Language: Bengali<br>
                Audio duration: 3 Hrs <br>
                Original Book: 141 Pages<br>
                 </strong></p>
            </div>
          </div> 
 
          <div class="col-sm-3">
            <div class="bookcard">
              <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
              <h4 class="card-title">Life Science for Class 9 </h4>
              <p class="bookcarddetail"><strong> Author: Unknown<br><br>
                Level: Secondary, IX<br>
                Language: Bengali<br>
                Audio duration: 5 Hrs <br>
                Original Book: 145 Pages<br>
                 </strong></p>
            </div>
          </div>

   
        </div>
        <!-- Class 9 10 Bookrow 2 end -->
      </div>
      <!-- Bookrow 4 end -->

      <br><br>

      <div class="row">
        <div class="section-title">
          <br> 
          <h2> Literature </h2>
        </div>
      </div>

      <!-- Bookrow 3 start -->
      <div class="row ">

        <div class="col-sm-3">
          <div class="bookcard">
            <img src="img/logo-small.png" alt="Subjects" width="50" height="50">
            <h4 class="card-title">Kapalkundala</h4>
            <p class="bookcarddetail"><strong> Author: Bankim Chandra Chattopadhyay <br><br>
              Level: For All<br>
              Language: Bengali<br>
              Audio duration: 4.5 Hrs <br>
              Original Book: 68 Pages<br>
               </strong></p>
          </div>
        </div> 

      
      </div>
      <!-- Bookrow 3 end -->




        

    
    </div>
  </section>