<ul class="address-block">
  <li>
    <i class="fa fa-map-marker"></i><br>Prerana Audio Library <br>
    Village Guma, Nibedita Pally, <br>
    P.O. Asokenagar, <br>
    Dist North 24 Parganas, <br>
    Pin 743704, West Bengal 
  </li>
  <li>
    <i class="fa fa-envelope-o"></i>
    <a href="mailto:preranaaudiolibrary@gmail.com?cc=rajibxmaitra@gmail.com&bcc=rajibxmaitra@gmail.com&subject=Your%20subject&body=Body-goes-here">Email preranaaudiolibrary@gmail.com</a>
  </li>
  <li>
    <i class="fa fa-phone"></i>Phone: +91-95937-54545
  </li>
</ul>