<section id="get-invl">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>Your help is much needed</h2>
          <h3> You can contribute in any of the following ways<br></h3>
               <p><br></p>
               <p><a href="contact.html">Contact us for any question</a></p>
        </div>
      </div>

      <!-- 1st row -->
      <div class="row ">
        <div class="col-sm-4">
          <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSDAYNTmyCj9e8MqkSrmUuaN2KP9rEMql9gJAumsPiIlAhTUQufRpIfAt84ulf8G9EQHXVNg7E2SrRB/pubhtml?gid=1842909539&single=true">
           <div class="card">           
           <h2>Adopt an Audio Book</h2>            
           <h3>Rs, 4000</h3>
            <img src="img/logo-small.png" alt="Books" style="width:33%">
            <p></p>
            <h4>Donate the cost of recording <br> and distributing <br> any book of your choice</b></h4> 
           </div>
          </a>
        </div>

        <div class="col-sm-4">
          <a href="contact.html">
           <div class="card">
            <h2>Be a Writer</h2>
            <h3>save a future</h3>  
              
            <img src="img/writer.png" alt="Books" style="width:40%">
            <p></p>
            <h4>It is extremely rare <br> to find a writer <br> during examination</b></h4> 
           </div>
          </a>
        </div>

        <div class="col-sm-4">
          <a href="contact.html">
           <div class="card">
            <h2>Lend your voice  </h2>
            <h3>record a book</h3>
              
            <img src="img/voice.png" alt="Books" style="width:50%">
            <p></p>
            <h4> Give the gift of voice by <br> recording a book at your pace <br> to support students</b></h4> 
           </div>
          </a>
        </div>


        
      </div>

      <p><br></p>

      <!-- 2nd row -->
      <div class="row ">
        <div class="col-sm-4">
          <a href="contact.html">
           <div class="card">
            <h2>Donate used</h2>
            <h3>Electronic Device</h3>  
              
            <img src="img/electronics.png" alt="Books" style="width:40%">
            <p></p>
            <h4>Good condition computer <br> USB/Flash Drive <br> Android Phone</b></h4> 
           </div>
          </a>
        </div>

        <div class="col-sm-4">
          <a href="contact.html">
           <div class="card">
            <h2>Teach our Students </h2>
            <h3>provide guidance</h3> 
            <img src="img/teaching.png" alt="Books" style="width:40%">
            <p></p>
            <h4>Help student by giving your knowledge, <br> your time and support <br> for them to grow</b></h4> 
           </div>
          </a>
        </div>

        <div class="col-sm-4">
          <a href="contact.html">
           <div class="card">
            <h2>Donate Money </h2>
            <h3>every penny counts</h3> 
            <img src="img/donate.png" alt="Books" style="width:50%">
            <p></p>
            <h4><br>Donate any amount <br> for our initiative to grow </h4> 
           </div>
          </a>
        </div>

      </div>


      <p><br></p>

      <!-- 3rd row -->
      <div class="row ">



        <div class="col-sm-4">
          <a href="contact.html">
           <div class="card">
            <h2>Help increasing </h2>
            <h3>awareness</h3> 
            <img src="img/community.png" alt="Books" style="width:40%">
            <p></p>
            <h4>Be part of our team and <br> help our initiative to grow <br> by working with us</b></h4> 
           </div>
          </a>
        </div>  

        <div class="col-sm-4">
          <a href="contact.html">
           <div class="card">
            <h2>Share you idea  </h2>
            <h3>we will listen</h3> 
            <img src="img/idea.png" alt="Books" style="width:40%">
            <p></p>
            <h4>We are here to <br> listen from you <br> write us your thoughts</b></h4> 
           </div>
          </a>
        </div>

        <div class="col-sm-4">
          <a href="contact.html">
           <div class="card">
            <h2>Sponsor a student </h2>
            <h3>build her future</h3> 
            <img src="img/handholding.png" alt="Books" style="width:40%">
            <p></p>
            <h4>We will connect you <br> with a student <br> seeking support</b></h4> 
           </div>
          </a>
        </div>  
      </div>
      <p><br></p>
      <p><br></p>

    </div>
  </section>
