<section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="block">
            <div class="section-title">
              <h2>Statistical Facts</h2>
              <p>India has one of the highest disability rates in the world <br>
                 ...and one of the lowest rates of education among disabled people </p>
            </div>
              
              <p>In West Bengal, the literacy rate among disabled is lower than the national average <br>
                 ... and rate of attendance in educational institutions is even lower</p>
                 <p></p>
              <a href="http://mospi.nic.in/sites/default/files/publication_reports/Disabled_persons_in_India_2016.pdf"><p> Disabled Persons in India, A Statistical Profile in 2016 </p></a>
           </div>
        </div><!-- .col-md-7 close -->
        <div class="col-md-7 col-sm-12">
          <div class="block">
            <img src="img/india_stat.png" alt="Img">
          </div>
        </div><!-- .col-md-5 close -->
      </div>
    </div>
  </section>