<section id="testimonial">
    <div class="container">
      <div class="row">
        <div class="section-title text-center">
          <h2>A great quote </h2>
          <p>If there's a book that you want to read, but it hasn't been written yet, then you must write it.” <br>
            ― Toni Morrison</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="block">
            <ul class="counter-box clearfix">
              <li>
                <div class="block">
                  <i class="ion-ios-book-outline"></i>
                  <h4 class="counter">10</h4>
                  <span>Audio Books</span>
                </div>
              </li>
              <li>
                <div class="block">
                  <i class="ion-ios-person-outline"></i>
                  <h4 class="counter">1000</h4>
                  <span>Students heard voice of book</span>
                </div>
              </li>
              <li>
                <div class="block">
                  <i class="ion-ios-people"></i>
                  <h4 class="counter">200</h4>
                  <span>Members</span>
                </div>
              </li>
              <li>
                <div class="block">
                  <i class="ion-ios-timer-outline"></i>
                  <h4 class="counter">5000</h4>
                  <span>Total Man Hour</span>
                </div>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="testimonial-carousel">
            <div id="testimonial-slider" class="owl-carousel">
              <div>
                  <img src="img/cotation.png" alt="IMG">
                  <p>"আমি বিলাস কোনাই প্রেরণা অডিও লাইব্রেরি থেকে পড়াশোনা সংক্রান্ত আমি অনেক সাহায্য পেয়েছি যেমন পড়া রেকর্ডিং বেল পেপার এবং পরা রেকর্ডিং মজুদ রাখার জন্য মেমোরি কার্ড আরো অনেক কিছু আমি এজন্য লাইব্রেরীর কাছে কৃতজ্ঞ থাকব এবং এইভাবে যতদিন চাকরি না পাচ্ছি সদাসর্বদা লাইব্রেরির সঙ্গে যুক্ত থাকবো লাইব্রেরী থেকে আমি অনেক উপকার পেয়েছি এবং আমি আশা করি যে লাইব্রেরী কে ব্যবহার করে আমি ভবিষ্যতে অনেক দূর এগিয়ে যেতে পারবো ধন্যবাদ"</p>
                  <div class="user">
                    <img src="img/st1_bikashkonai.png" alt="People">
                    <p><span> Bilash Konai </span> Student</p>
                  </div>
              </div>
              <div>
                <img src="img/cotation.png" alt="IMG">
                  <p>"নমস্কার প্রেরণা অডিও লাইব্রেরি মেম্বারশিপ নিয়ে আমি অনেক উপকৃত হয়েছি অডিও বুক আকারে খুব সুন্দর ভাবে রেকর্ডিং করছেন দাদা-দিদিরা এবং এই অডিও বুক আমাদের খুব উপকৃত করছে আমরা আশা করছি লাইব্রেরির কাছে এরকম ভাবেই সুযোগ-সুবিধা পেতে থাকব এবং লাইব্রেরি উন্নতি প্রকল্পে সকলেই নজর দেব আর আমার সকলের কাছে অনুরোধ লাইব্রেরি পাশে থাকার জন্য একান্ত ভাবে কামনা করছি| ইতি - আলমগীর  বিশ্বাস"</p>
                  <div class="user">
                    <img src="img/st2.png" alt="People">
                    <p><span> Alamgir Biswas </span> Student</p>
                  </div>
              </div>
              <div>
                <img src="img/cotation.png" alt="IMG">
                  <p>"দৃষ্টি মানরা চোখে দেখে পড়তে পারে  আমাদের চোখে দৃষ্টি না থাকায় দেখে পড়তে পারে না হাতের স্পর্শ ও অডিও বুক দাঁড়াই পড়াশুনা চালিয়ে যাচ্ছি, আর সেই অডিও বুক আমাদের  সুবিধার্থে অডিওবুক প্রস্তুত করছে  লাইব্রেরী কর্তৃপক্ষকে ধন্যবাদ বলে ছোট করতে চাই না আমাদের এই সুযোগ করে দেয়ার জন্য আমরা অনেক অনেক উপকৃত হচ্ছি! ইতি - আবুসুফিয়ান মন্ডল"</p>
                  <div class="user">
                    <img src="img/st3.png" alt="People">
                    <p><span>Abusufian Mondol</span> Student</p>
                  </div>
              </div>
              <div>
                <img src="img/cotation.png" alt="IMG">
                  <p>"আমি দীপিকা জানা কাঁথি প্রভাত কুমার কলেজ এ হিস্ট্রি অনার্স নিয়ে পড়াশোনা করি আমি থার্ড সেমিস্টারে প্রেরণা অডিও লাইব্রেরি থেকে সাহায্য পেয়ে পরীক্ষা দিয়েছি তার জন্য আমি প্রেরণা অডিও লাইব্রেরি কাছে চির কৃতজ্ঞ থাকব প্রত্যেকটা স্টুডেন্ট যদি এইভাবে প্রেরণা অডিও লাইব্রেরি সাহায্য পায় তাহলে আমি আশা করি এই লাইব্রেরী প্রত্যেকটা স্টুডেন্টকে তার নিজস্ব সাফল্যের চূড়ায় পৌঁছে দিতে সক্ষম থাকবে ধন্যবাদ"</p>
                  <div class="user">
                    <img src="img/st4.png" alt="People">
                    <p><span>Dipika Jana</span> Student, History Major</p>
                  </div>
              </div>
              <div>
                <img src="img/cotation.png" alt="IMG">
                  <p>"আমরা  লাইব্রেরী কে পেয়ে খুবই উপকৃত হয়েছি যে লাইব্রেরী কাছ থেকে আমরা বিভিন্ন রকম সাহায্য পাচ্ছি যে রকম অডিও রেকর্ডিং ভবিষ্যতে আমরা লাইব্রেরীর কাছ থেকে চাই যে ব্লাইন্ড দের পরীক্ষার জন্য রাইটার খুঁজে দেওয়ার ব্যবস্থা করা হোক"</p>
                  <div class="user">
                    <img src="img/st5_sk.png" alt="People">
                    <p><span>Saikat Koley</span> Student</p>
                  </div>
              </div>
 

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
