<section id="testimonial">
    <div class="container">
      <div class="row">
        <div class="section-title text-center">
          <h2>A great quote </h2>
          <p>If there's a book that you want to read, but it hasn't been written yet, then you must write it.” <br>
            ― Toni Morrison</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="block">
            <ul class="counter-box clearfix">
              <li>
                <div class="block">
                  <i class="ion-ios-book-outline"></i>
                  <h4 class="counter">10</h4>
                  <span>Audio Books</span>
                </div>
              </li>
              <li>
                <div class="block">
                  <i class="ion-ios-person-outline"></i>
                  <h4 class="counter">1000</h4>
                  <span>Students heard voice of book</span>
                </div>
              </li>
              <li>
                <div class="block">
                  <i class="ion-ios-people"></i>
                  <h4 class="counter">200</h4>
                  <span>Members</span>
                </div>
              </li>
              <li>
                <div class="block">
                  <i class="ion-ios-timer-outline"></i>
                  <h4 class="counter">5000</h4>
                  <span>Total Man Hour</span>
                </div>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="testimonial-carousel">
            <div id="testimonial-slider" class="owl-carousel">
              <div>
                  <img src="img/cotation.png" alt="IMG" width= 50px; height= 40px;>
                  <p id="description1">"আমি বিলাস কোনাই প্রেরণা অডিও লাইব্রেরি থেকে পড়াশোনা সংক্রান্ত আমি অনেক সাহায্য পেয়েছি যেমন পড়া রেকর্ডিং বেল পেপার এবং পরা রেকর্ডিং মজুদ রাখার জন্য মেমোরি কার্ড আরো অনেক কিছু আমি এজন্য লাইব্রেরীর কাছে কৃতজ্ঞ থাকব এবং এইভাবে যতদিন চাকরি না পাচ্ছি সদাসর্বদা লাইব্রেরির সঙ্গে যুক্ত থাকবো লাইব্রেরী থেকে আমি অনেক উপকার পেয়েছি এবং আমি আশা করি যে লাইব্রেরী কে ব্যবহার করে আমি ভবিষ্যতে অনেক দূর এগিয়ে যেতে পারবো ধন্যবাদ"</p>
                  <p id="option1" onclick="myFunction(1)">English</p>
                  <div class="user">
                    <img src="img/st1_bikashkonai.png" alt="People">
                    <p><span> Bilash Konai </span> Student</p>
                  </div>
              </div>
              <div>
                <img src="img/cotation.png" alt="IMG">
                  <p id="description2">"নমস্কার প্রেরণা অডিও লাইব্রেরি মেম্বারশিপ নিয়ে আমি অনেক উপকৃত হয়েছি অডিও বুক আকারে খুব সুন্দর ভাবে রেকর্ডিং করছেন দাদা-দিদিরা এবং এই অডিও বুক আমাদের খুব উপকৃত করছে আমরা আশা করছি লাইব্রেরির কাছে এরকম ভাবেই সুযোগ-সুবিধা পেতে থাকব এবং লাইব্রেরি উন্নতি প্রকল্পে সকলেই নজর দেব আর আমার সকলের কাছে অনুরোধ লাইব্রেরি পাশে থাকার জন্য একান্ত ভাবে কামনা করছি| ইতি - আলমগীর বিশ্বাস"</p>
                  <p id="option2" onclick="myFunction(2)">English</p>
                  <div class="user">
                    <img src="img/st2.png" alt="People">
                    <p><span> Alamgir Biswas </span> Student</p>
                  </div>
              </div>
              <div>
                <img src="img/cotation.png" alt="IMG">
                  <p id="description3">"আমাদের চোখে দৃষ্টি না থাকায় দেখে পড়তে পারে না হাতের স্পর্শ ও অডিও বুক দাঁড়াই পড়াশুনা চালিয়ে যাচ্ছি, আর সেই অডিও বুক আমাদের  সুবিধার্থে অডিওবুক প্রস্তুত করছে  লাইব্রেরী কর্তৃপক্ষকে ধন্যবাদ বলে ছোট করতে চাই না আমাদের এই সুযোগ করে দেয়ার জন্য আমরা অনেক অনেক উপকৃত হচ্ছি! ইতি - আবুসুফিয়ান মন্ডল"</p>
                  <p id="option3" onclick="myFunction(3)">English</p>
                  <div class="user">
                    <img src="img/st3.png" alt="People">
                    <p><span>Abusufian Mondol</span> Student</p>
                  </div>
              </div>
              <div>
                <img src="img/cotation.png" alt="IMG">
                  <p id="description4">"আমি দীপিকা জানা কাঁথি প্রভাত কুমার কলেজ এ হিস্ট্রি অনার্স নিয়ে পড়াশোনা করি আমি থার্ড সেমিস্টারে প্রেরণা অডিও লাইব্রেরি থেকে সাহায্য পেয়ে পরীক্ষা দিয়েছি তার জন্য আমি প্রেরণা অডিও লাইব্রেরি কাছে চির কৃতজ্ঞ থাকব প্রত্যেকটা স্টুডেন্ট যদি এইভাবে প্রেরণা অডিও লাইব্রেরি সাহায্য পায় তাহলে আমি আশা করি এই লাইব্রেরী প্রত্যেকটা স্টুডেন্টকে তার নিজস্ব সাফল্যের চূড়ায় পৌঁছে দিতে সক্ষম থাকবে ধন্যবাদ"</p>
                  <p id="option4" onclick="myFunction(4)">English</p>
                  <div class="user">
                    <img src="img/st6.png" alt="People">
                    <p><span>Dipika Jana</span> Student, History Major</p>
                  </div>
              </div>
              <div>
                <img src="img/cotation.png" alt="IMG">
                  <p id="description5">"আমরা  লাইব্রেরী কে পেয়ে খুবই উপকৃত হয়েছি যে লাইব্রেরী কাছ থেকে আমরা বিভিন্ন রকম সাহায্য পাচ্ছি যে রকম অডিও রেকর্ডিং ভবিষ্যতে আমরা লাইব্রেরীর কাছ থেকে চাই যে ব্লাইন্ড দের পরীক্ষার জন্য রাইটার খুঁজে দেওয়ার ব্যবস্থা করা হোক"</p>
                  <p id="option5" onclick="myFunction(5)">English</p>
                  <div class="user">
                    <img src="img/st5_sk.png" alt="People">
                    <p><span>Saikat Koley</span> Student</p>
                  </div>
              </div>
 

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  
  <script>
  
  function myFunction(i) {
    var x = option1.innerHTML;

    if (i == 1) { 
      var x = option1.innerHTML;
      if (x == "Bengali") { 
                    description1.innerHTML = "আমি বিলাস কোনাই প্রেরণা অডিও লাইব্রেরি থেকে পড়াশোনা সংক্রান্ত আমি অনেক সাহায্য পেয়েছি যেমন পড়া রেকর্ডিং বেল পেপার এবং পরা রেকর্ডিং মজুদ রাখার জন্য মেমোরি কার্ড আরো অনেক কিছু আমি এজন্য লাইব্রেরীর কাছে কৃতজ্ঞ থাকব এবং এইভাবে যতদিন চাকরি না পাচ্ছি সদাসর্বদা লাইব্রেরির সঙ্গে যুক্ত থাকবো লাইব্রেরী থেকে আমি অনেক উপকার পেয়েছি এবং আমি আশা করি যে লাইব্রেরী কে ব্যবহার করে আমি ভবিষ্যতে অনেক দূর এগিয়ে যেতে পারবো ধন্যবাদ";
                    option1.innerHTML = "English"; 
       }  
       if (x == "English") { 
                    description1.innerHTML = "I am Bilash Konai. I have received a lot of support from Prerana Audio Library including audio books, bell papers, memory cards to store audio files and many more. I will be grateful to the library for this and will always be in touch with the library until I find a job. I hope I can go a long way if library continue to support me in the future. Thank you.";
                    option1.innerHTML = "Bengali"; 
      } 
    }
  
    if (i == 2) { 
      var x = option2.innerHTML;
      if (x == "Bengali") { 
                    description2.innerHTML = "নমস্কার প্রেরণা অডিও লাইব্রেরি মেম্বারশিপ নিয়ে আমি অনেক উপকৃত হয়েছি অডিও বুক আকারে খুব সুন্দর ভাবে রেকর্ডিং করছেন দাদা-দিদিরা এবং এই অডিও বুক আমাদের খুব উপকৃত করছে আমরা আশা করছি লাইব্রেরির কাছে এরকম ভাবেই সুযোগ-সুবিধা পেতে থাকব এবং লাইব্রেরি উন্নতি প্রকল্পে সকলেই নজর দেব আর আমার সকলের কাছে অনুরোধ লাইব্রেরি পাশে থাকার জন্য একান্ত ভাবে কামনা করছি| ইতি - আলমগীর বিশ্বাস";
                    option2.innerHTML = "English"; 
       }  
       if (x == "English") { 
                    description2.innerHTML = "Hello, I have benefited a lot from Prerana Audio Library membership. Library volunteers have recorded the Audio Books with great care, and this has been a great help to all of us. We hope we will continue to get this support from the library. We request everyone to support this initiative and help take it forward. Thanks - Alamgir Biswas";
                    option2.innerHTML = "Bengali"; 
      } 
    }   
    
    if (i == 3) { 
      var x = option3.innerHTML;
      if (x == "Bengali") { 
                    description3.innerHTML = "আমাদের চোখে দৃষ্টি না থাকায় দেখে পড়তে পারে না হাতের স্পর্শ ও অডিও বুক দাঁড়াই পড়াশুনা চালিয়ে যাচ্ছি, আর সেই অডিও বুক আমাদের  সুবিধার্থে অডিওবুক প্রস্তুত করছে  লাইব্রেরী কর্তৃপক্ষকে ধন্যবাদ বলে ছোট করতে চাই না আমাদের এই সুযোগ করে দেয়ার জন্য আমরা অনেক অনেক উপকৃত হচ্ছি! ইতি - আবুসুফিয়ান মন্ডল";
                    option3.innerHTML = "English"; 
       }  
       if (x == "English") { 
                    description3.innerHTML = "Due to challenges with our vision, we can not read our study books but have to use method touch and audio book to continue our education. We are really grateful to Prerana Audio Library for making audio books for people like us. We are really benefitting from this initiative! Thanks. - Abusufian Mandal";
                    option3.innerHTML = "Bengali"; 
      } 
    }   
    
    if (i == 4) { 
      var x = option4.innerHTML;
      if (x == "Bengali") { 
                    description4.innerHTML = "আমি দীপিকা জানা কাঁথি প্রভাত কুমার কলেজ এ হিস্ট্রি অনার্স নিয়ে পড়াশোনা করি আমি থার্ড সেমিস্টারে প্রেরণা অডিও লাইব্রেরি থেকে সাহায্য পেয়ে পরীক্ষা দিয়েছি তার জন্য আমি প্রেরণা অডিও লাইব্রেরি কাছে চির কৃতজ্ঞ থাকব প্রত্যেকটা স্টুডেন্ট যদি এইভাবে প্রেরণা অডিও লাইব্রেরি সাহায্য পায় তাহলে আমি আশা করি এই লাইব্রেরী প্রত্যেকটা স্টুডেন্টকে তার নিজস্ব সাফল্যের চূড়ায় পৌঁছে দিতে সক্ষম থাকবে ধন্যবাদ";
                    option4.innerHTML = "English"; 
       }  
       if (x == "English") { 
                    description4.innerHTML = "I am Dipika Jana, I am studying History with Honors at Kanthi Prabhat Kumar College. I got a lot of help from Prerana Audio Library for my third semester examination, and I will be forever grateful. I hope if all students who need help are supported by Prerana Audio Library, they will be able to achieve pinnacle of their success.";
                    option4.innerHTML = "Bengali"; 
      } 
    }   
    
    if (i == 5) { 
      var x = option5.innerHTML;
      if (x == "Bengali") { 
                    description5.innerHTML = "আমরা  লাইব্রেরী কে পেয়ে খুবই উপকৃত হয়েছি যে লাইব্রেরী কাছ থেকে আমরা বিভিন্ন রকম সাহায্য পাচ্ছি যে রকম অডিও রেকর্ডিং ভবিষ্যতে আমরা লাইব্রেরীর কাছ থেকে চাই যে ব্লাইন্ড দের পরীক্ষার জন্য রাইটার খুঁজে দেওয়ার ব্যবস্থা করা হোক";
                    option5.innerHTML = "English"; 
       }  
       if (x == "English") { 
                    description5.innerHTML = "The Audio Library has been very beneficial to us. We are getting various help from the library such as audio recording of books. Going forward, we would like the library’s help to make arrangements for writer for our examination";
                    option5.innerHTML = "Bengali"; 
      } 
    }


  }
  
   
  
   
  
  </script>
