<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Challanges of Blind Students</h2>
            <p></p>
            <p>Major challange is awarness <br>
               ... and there is not enough information for you to know <br>
               ... there's not structured community <br> 
               ... not enough investment made to make their life better <br>
               ... a brilliant student said no resource for selecying science as major</p>
          </div>
            <p></p>
            <p>Comments from Visually impaired students, ages 12-27, West Bengal, 2021</p>
            <p></p>
            <p></p>
            <a href="/projects.html" class="btn btn-view-works-chal">But there's HOPE</a>
         </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-7 col-sm-12">
        <div class="blockchal">
          <img src="img/chal1.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>