<section id="cost">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>Initial cost analysis</h2>
          <h3>Limited resources are available, but need a lot more sustain</h3>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-6">
          <div class="thumbnail">
            <img src="img/cost1.jpg" alt="The soulds" width="400" height="400">
            <p></p>
            <h4><strong>Funds attained from generous donors </strong></h4>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="thumbnail">
            <img src="img/cost2.jpg" alt="Subjects" width="400" height="400">
            <p></p>
            <h4><strong>Actual cost from initial 2 months </strong></h4>
          </div>
        </div>
        
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="section-title">
          <p></p>
          <h2>Cost of recording one book</h2>
          <h3>a case study</h3>
          <h4><strong>Average cost of making one book is Rs. 4000  </strong></h4>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-12">
          <div class="thumbnail">
            <img src="img/cost-per-book.jpg" alt="The soulds" width="1200" height="600">
            <p>
              <br>
              <br>
            </p>
            
          </div>
        </div>  
        
      </div>
    </div>
  </section>