<section id="service">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>Our Goals</h2>
          <p> "Audiobook is the only way to help advancing vision impaired students” <br>
               – Tarak Chandra, School Teacher in History, Blind from Birth</p>
               <p><br></p>
               <h3>Create audio books covering the whole spectrum</h3>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="img/books1.jpg" alt="Book Levels" width="300" height="300">
            <p><strong>Audio Books for : </strong></p>
            <p><strong>10th Grade<br>
               12th Grade<br>
               Graduation<br>
               Competitive Exam<br>
               Professional Course</strong></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="img/books2.jpg" alt="Subjects" width="300" height="300">
            <p></p>
            <p><strong>Books for : </strong></p>
            <p><strong>Bengali <br>
               English<br>
               Philosophy<br>
               History <br>
               Political Science<br>
               Test Papers<br>
               Job Examination</strong></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="img/books3.jpg" alt="Distribution" width="300" height="300">
            <p></p>
            <p><strong>DIstribution of Audio Books : </strong></p>
            <p><strong>CD<br>
               DVD<br>
               pen drive<br>
               mp3<br>
               streaming audio<br>
               magnetic tape</strong></p>
          </div>
        </div> 
        
      </div>
    </div>
  </section>