<section id="team">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>There is a Hope</h2>
          <h3>... and few brave souls</h3>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="img/tarakteam1.jpg" alt="The soulds" width="300" height="300">
            <p><strong>Students </strong></p>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="thumbnail">
            <img src="img/tarak-abp.jpg" alt="Subjects" width="800" height="400">
            <p></p>
            <p><strong>... and the Teacher </strong></p>
            <p><strong>Anandabazar Patrika, January 16, 2021 <br></strong></p>
          </div>
        </div>
        
      </div>
    </div>
  </section>

  <section id="teamwork">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2>The work has began since February 2021 </h2>
          <h3>   <strong>Prerana Audio Library,</strong> <br>
          Audio Book recording and distribution </h3>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-8">
          <div class="thumbnail">
            <img src="img/recording.jpg" alt="The soulds" width="600" height="400">
            <p><strong><br>Reader Swagata Bhowmick <br> 
              Book WCBS General Studies Manual </strong></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="img/distribution.jpg" alt="Subjects" width="400" height="400">
            <p></p>
            <p><strong>Donation of Audio Book <br>
                       Student: Rakesh Pal Chowdhury, Class 12 </strong></p>
          </div>
        </div>
        
      </div>
    </div>
  </section>